In [6]:
import pandas as pd
import math

In [3]:
data = {
    "Índice": list(range(1, 11)),
    "Variable 1": [9, 6, 1, 3, 3, 1, 9, 9, 4, 6],
    "Variable 2": [6, 2, 6, 9, 7, 9, 8, 2, 6, 4]
}

df = pd.DataFrame(data)
df

   Índice  Variable 1  Variable 2
0       1           9           6
1       2           6           2
2       3           1           6
3       4           3           9
4       5           3           7
5       6           1           9
6       7           9           8
7       8           9           2
8       9           4           6
9      10           6           4

In [4]:
puntos = list(zip(df["Variable 1"], df["Variable 2"]))
print("Puntos:", puntos)

Puntos: [(9, 6), (6, 2), (1, 6), (3, 9), (3, 7), (1, 9), (9, 8), (9, 2), (4, 6), (6, 4)]

In [5]:
x0 = (6, 4)

In [14]:
distancias = []
for i, row in df.iterrows():
    punto = (row["Variable 1"], row["Variable 2"])
    distancia = math.sqrt((punto[0] - x0[0])**2 + (punto[1] - x0[1])**2)
    distancias.append((row["Índice"], punto, distancia))

print("Distancias:", distancias)

Distancias: [(np.int64(1), (np.int64(9), np.int64(6)), 3.605551275463989), (np.int64(2), (np.int64(6), np.int64(2)), 2.0), (np.int64(3), (np.int64(1), np.int64(6)), 5.385164807134504), (np.int64(4), (np.int64(3), np.int64(9)), 5.830951894845301), (np.int64(5), (np.int64(3), np.int64(7)), 4.242640687119285), (np.int64(6), (np.int64(1), np.int64(9)), 7.0710678118654755), (np.int64(7), (np.int64(9), np.int64(8)), 5.0), (np.int64(8), (np.int64(9), np.int64(2)), 3.605551275463989), (np.int64(9), (np.int64(4), np.int64(6)), 2.8284271247461903), (np.int64(10), (np.int64(6), np.int64(4)), 0.0)]

In [15]:
# Ordenar por distancia de menor a mayor
distancias_ordenadas = sorted(distancias, key=lambda x: x[2])

In [16]:
# Imprimir resultados
print("Distancias ordenadas desde el punto x0 = (6, 4):\n")
for idx, punto, d in distancias_ordenadas:
    print(f"Índice: {idx} | Punto: {punto} → Distancia: {d:.4f}")

Distancias ordenadas desde el punto x0 = (6, 4):

Índice: 10 | Punto: (np.int64(6), np.int64(4)) → Distancia: 0.0000
Índice: 2 | Punto: (np.int64(6), np.int64(2)) → Distancia: 2.0000
Índice: 9 | Punto: (np.int64(4), np.int64(6)) → Distancia: 2.8284
Índice: 1 | Punto: (np.int64(9), np.int64(6)) → Distancia: 3.6056
Índice: 8 | Punto: (np.int64(9), np.int64(2)) → Distancia: 3.6056
Índice: 5 | Punto: (np.int64(3), np.int64(7)) → Distancia: 4.2426
Índice: 7 | Punto: (np.int64(9), np.int64(8)) → Distancia: 5.0000
Índice: 3 | Punto: (np.int64(1), np.int64(6)) → Distancia: 5.3852
Índice: 4 | Punto: (np.int64(3), np.int64(9)) → Distancia: 5.8310
Índice: 6 | Punto: (np.int64(1), np.int64(9)) → Distancia: 7.0711